.idea
ActivityWindow/ActivityWindow/main.m
ActivityWindow/ActivityWindow.xcodeproj/project.pbxproj
ActivityWindow/ActivityWindow.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ActivityWindow/ActivityWindow.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ActivityWindow/ActivityWindow.xcodeproj/project.xcworkspace/xcuserdata/e.kulinich.xcuserdatad/UserInterfaceState.xcuserstate
ActivityWindow/ActivityWindow.xcodeproj/xcuserdata/e.kulinich.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ActivityWindow/ActivityWindow.xcodeproj/xcuserdata/e.kulinich.xcuserdatad/xcschemes/xcschememanagement.plist
